url = "/"
layout = "default"
title = "MAMBO"
is_hidden = 0
meta_description = "homepage desc"
seo_keywords = "keywords"
robot_index = "index"
robot_follow = "follow"

[article_highlights]
maxItems = 3
title = "Latest news"
baseUrl = "/news"
templates = "template4"
thumb_width = 440
thumb_height = 235
title_max_length = 150

[jumbotron vision]
jumbotron = "vision"
title = 1
background = "transperant"
templates = "template1"
description_limit = 0

[jumbotron mission]
jumbotron = "mission"
title = 1
background = "transperant"
templates = "template1"
description_limit = 0

[jumbotron numbers]
jumbotron = "numbers"
title = 1
background = "transperant"
templates = "template1"
description_limit = 0

[jumbotron rio_banner]
jumbotron = "rio-banner"
background = "transperant"
templates = "template3"
description_limit = 0
==
<?php
use Pensoft\Calendar\Models\Entry;
use Pensoft\Partners\Models\Partners;
use Carbon\Carbon;

function onStart() {
    $this['entries'] = Entry::where('end', '>', Carbon::now())->where('show_on_timeline', true)->where('is_internal', false)->orderBy('start', 'asc')->take(3)->get();

    $this['international'] = Partners::where('type',  2)->get();
    $this['european'] = Partners::where('type',  4)->get();
}
?>
==
<!-- vision -->
<div class="container-fluid bg-secondary vision">
		<div class="row between-md around-xs">
			<div class="col-sm-6 col-xs-12">
				{% component 'vision' %}
			</div>
			<div class="col-sm-6 col-xs-12 vision_bg">
                &nbsp;
			</div>
		</div>
</div>
<!-- mission -->
<div class="container-fluid bg-secondary mission">
        <div class="row between-md around-xs">
            <div class="col-sm-6 col-xs-12 mission_bg">
                &nbsp;
            </div>
            <div class="col-sm-6 col-xs-12 ">
                {% component 'mission' %}
            </div>
        </div>
</div>

<div class="container rio_banner">
   {% component 'rio_banner' %}
</div>


{% if entries.count %}
<div class="container event-items-homepage">
    <h1 class="display-1">Upcoming MAMBO events</h1>
    <div class="event-items-homepage2 mb-4">
        {% for event in entries %}
            <div class="row middle-xs events_item aos-init aos-animate" data-aos="fade-up">
                {% if event.cover_image %}
                <div class="col-md-4 col-xs-12">
                    <a class="events-image col-xs-12 center-xs" href="{{'events'|page}}/{{event.slug}}">
                        <img class="events-img" src="{{event.cover_image.path}}">
                    </a>
                </div>
                {% endif %}
                <div class="col-md col-xs-12">
                    <div class="events-container row">
                        <!--<div class="col-md-2 col-xs-12 text-published-dark">{{ event.start|date('H:i') }}</div>-->
                        <div class="col-md-2 col-xs-12 text-published">{{ event.start|date('d M Y') }}</div>
                        <div class="col-md-12 col-xs-12 events-title">
                            <h3 class="card-title"><a href="{{'events'|page}}/{{event.slug}}">{{ event.title}}</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="center-xs">
        <a class="btn btn-primary view_all" href="{{'events'|page}}">All events</a>
    </div>
</div>



{% endif %}


<!-- latest from news -->
<div class="container">
    {% component 'article_highlights' %}
    <div class="row">
        <div class="col-xs-12 center-xs"><a href="{{'news'|page}}" class="btn btn-primary" style="width: 250px;">All news</a> </div>
    </div>
</div>

<!-- numbers -->
<div class="container-fluid bg-secondary">
    <div class="numbers_container">
        {% component 'numbers' %}
    </div>
</div>



<!--partners-->
{% if international.count > 0 %}
<div class="container">
    <h1 class="display-1">Strategic partners and collaborators</h1>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="inernational_partners">
                <div class="partners_title">
                    International initiatives and networks
                </div>
                <div class="row partners_list">
                    {% for i in international %}
                        <div class="col-md-6 col-xs-12">
                            <div class="internal-partner-item">
                                {% if i.cover %}
                                <img class="partner_cover" src="{{i.cover.thumb(195, auto, {'mode':'crop'})}}" alt="Logo of {{i.instituion}}" title="{{i.instituion}}">
                                {% else %}
                                {{i.instituion}}
                                {% endif %}
                            </div>
                        </div>

                    {% endfor %}
<!--                    <div class="col-md-6 col-xs-12">-->
<!--                        <div class="international_partners_text">-->
<!--                            The improved EU-wide framework for the mapping and monitoring of biodiversity and ecosystem services-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="inernational_partners">
                <div class="partners_title">
                    EU Projects
                </div>
                <div class="partners_list">
                    {% for i in european %}
                    <div class="col-md-6 col-xs-12">
                        <div class="internal-partner-item">
                            {% if i.cover %}
                            <img class="partner_cover" src="{{i.cover.thumb(195, auto, {'mode':'crop'})}}" alt="Logo of {{i.instituion}}" title="{{i.instituion}}">
                            {% else %}
                            {{i.instituion}}
                            {% endif %}

                            <a href="{{i.instituion_url}}" target="_blank" aria-label="Link to {{i.instituion}} website (opens in new tab)">&nbsp;</a>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}



<!-- Subscribe -->
<div class="container">
    <div class="col-xs-12"><h1 class="display-1">Follow MAMBO</h1></div>
    <div class="follow-container">
        <div class="col-md-6 col-xs-12 social-media-container">
            <div class="subscribe-items">
                {% if this.theme.bluesky_url %}
                <a href="{{this.theme.bluesky_url}}" target="_blank" class="btn p-primary pr p-bluesky medium"></a>
                {% endif %}
                {% if this.theme.twitter_url %}
                <a href="{{this.theme.twitter_url}}" target="_blank" class="btn p-primary pr p-twitter medium"></a>
                {% endif %}
                {% if this.theme.facebook_url %}
                <a href="{{this.theme.facebook_url}}" target="_blank" class="btn pr p-primary p-facebook medium"></a>
                {% endif %}
                {% if this.theme.linkedin_url %}
                <a href="{{this.theme.linkedin_url}}" target="_blank" class="btn pr p-primary p-linkedin medium"></a>
                {% endif %}
                {% if this.theme.youtube_url %}
                <a href="{{this.theme.youtube_url}}" target="_blank" class="btn pr p-primary p-youtube medium"></a>
                {% endif %}
                {% if this.theme.instagram_url %}
                <a href="{{this.theme.instagram_url}}" target="_blank" class="btn pr p-primary p-instagram medium"></a>
                {% endif %}
                {% if this.theme.researchgate_url %}
                <a href="{{this.theme.researchgate_url}}" target="_blank" class="btn pr p-primary p-researchgate medium" style="width: 64px;"></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
