url = "/"
layout = "default"
title = "MAMBO"
is_hidden = 0
meta_description = "homepage desc"
seo_keywords = "keywords"
robot_index = "index"
robot_follow = "follow"

[article_highlights]
maxItems = 3
title = "Latest news"
baseUrl = "/news"
templates = "template4"
thumb_width = 440
thumb_height = 235

[jumbotron vision]
jumbotron = "vision"
title = 1
background = "transperant"
templates = "template1"
description_limit = 0

[jumbotron mission]
jumbotron = "mission"
title = 1
background = "transperant"
templates = "template1"
description_limit = 0

[jumbotron numbers]
jumbotron = "numbers"
title = 1
background = "transperant"
templates = "template1"
description_limit = 0

[jumbotron rio_banner]
jumbotron = "rio-banner"
background = "transperant"
templates = "template3"
description_limit = 0
==
<!-- vision -->
<div class="container-fluid bg-secondary vision">
		<div class="row between-md around-xs">
			<div class="col-sm-6 col-xs-12">
				{% component 'vision' %}
			</div>
			<div class="col-sm-6 col-xs-12 vision_bg">
                &nbsp;
			</div>
		</div>
</div>
<!-- mission -->
<div class="container-fluid bg-secondary mission">
        <div class="row between-md around-xs">
            <div class="col-sm-6 col-xs-12 mission_bg">
                &nbsp;
            </div>
            <div class="col-sm-6 col-xs-12 ">
                {% component 'mission' %}
            </div>
        </div>
</div>

<div class="container rio_banner">
   {% component 'rio_banner' %}
</div>


<!-- latest from news -->
<div class="container">
    {% component 'article_highlights' %}
    <div class="row">
        <div class="col-xs-12 center-xs"><a href="{{'news'|page}}" class="btn btn-primary" style="width: 250px;">All news</a> </div>
    </div>
</div>

<!-- numbers -->
<div class="container-fluid bg-secondary">
    <div class="numbers_container">
        {% component 'numbers' %}
    </div>
</div>

<!-- Subscribe -->
<div class="container">
    <div class="col-xs-12"><h1 class="display-1">Follow MAMBO</h1></div>
    <div class="follow-container">
        <div class="col-md-6 col-xs-12 social-media-container">
            <div class="subscribe-items">
                {% if this.theme.bluesky_url %}
                <a href="{{this.theme.bluesky_url}}" target="_blank" class="btn p-primary pr p-bluesky medium"></a>
                {% endif %}
                {% if this.theme.twitter_url %}
                <a href="{{this.theme.twitter_url}}" target="_blank" class="btn p-primary pr p-twitter medium"></a>
                {% endif %}
                {% if this.theme.facebook_url %}
                <a href="{{this.theme.facebook_url}}" target="_blank" class="btn pr p-primary p-facebook medium"></a>
                {% endif %}
                {% if this.theme.linkedin_url %}
                <a href="{{this.theme.linkedin_url}}" target="_blank" class="btn pr p-primary p-linkedin medium"></a>
                {% endif %}
                {% if this.theme.youtube_url %}
                <a href="{{this.theme.youtube_url}}" target="_blank" class="btn pr p-primary p-youtube medium"></a>
                {% endif %}
                {% if this.theme.instagram_url %}
                <a href="{{this.theme.instagram_url}}" target="_blank" class="btn pr p-primary p-instagram medium"></a>
                {% endif %}
                {% if this.theme.researchgate_url %}
                <a href="{{this.theme.researchgate_url}}" target="_blank" class="btn pr p-primary p-researchgate medium" style="width: 64px;"></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
